.apply{
    position: absolute;
    top: 125.25vw;
    height: 42.5vw;
    width: 77vw;
    margin-left: 7.93vw;
    display: flex;
}
.left-p{
    width: 45vw;
    height: 42.5vw;
}
.apply .left-p img{
    display:block;
    margin:auto;
}

.right-p{
    height: 29.75vw;
    width: 32vw;
    position: relative;
    justify-content: space-between;
    margin-top: 6.437vw;
}

.right-text{
    margin-left: 3.562vw;
}

#illustrations{
    width: 45vw;
    height: 42.5vw;
}

@media only screen and (max-width: 600px) {
    .apply{
        position: absolute;
        top: 145.25vw;
        height: 42.5vw;
        width: 177vw;
        margin-left: 7.93vw;
        display: flex;
        flex-direction: column;
    }
    
    .right-p{
        height: 29.75vw;
        width: 32vw;
        position: relative;
        justify-content: space-between;
        margin-top: 6.437vw;
    }

    #illustrations{
        width: 90vw;
        height: 85vw;
    }
    
}