#faq-questions{
    min-height: 5.62vw;
    z-index: 2;
    position: absolute;
    padding-top: 5.62vw;
    display: grid;
    grid-template-columns: 35vw 35vw;
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-column-gap: 0.7vw;
    grid-row-gap: 0.625vw;
    grid-auto-rows: auto;
}

@media only screen and (max-width: 600px) {
    #faq-questions{
        width: 100vw;
        grid-template-columns: 70vw;
    }
  }